.view-current-critters-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.view-current-critters-container h3 {
    margin: 10px 0;
}

.critter-open-create-button {
    /* border: 1px solid var(--highlightColor); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    border-radius: 15px;
    width: max-content;
    /* font-size: var(--h3Size); */
    color: var(--highlightColor);
    background-color: transparent;
    /* align-self: center; */
}

.critter-open-create-button:hover {
    color: var(--highlightColorDarker);
    font-weight: bold;
}
