#login-form {
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: transparent;
}

#login-form>label {
    display: flex;
    flex-direction: column;
}
