.all-shops-container {
    margin: 3vw;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* align-items: center; */
}

.all-shops-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    /* justify-content: space-evenly; */
}
