.shop-form-container {
    padding-right: 15px;
}

.shop-form-container label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin: 5px 0;
    /* border: 1px red solid; */
}

.shop-form-container input, textarea {
    margin: 3px 0;
    /* border: 1px red solid; */
}

.shop-form-container>section {
    margin: 15px 0;
}

.shop-form-container>h3 {
    margin-top: 15px;
}

/************ IMAGES ************************/

.shop-form-images {
    position: relative;
}

.shop-form-images>label {
    border: var(--cardBorder);
    background-color: var(--disabledColor);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    /* background-image: ; */
    background-size: cover;
}

.shop-form-images>label>span {
    padding: 10px;
    /* background-color: rgb(255,255,255,0.7); */
    background-color: rgba(230,230,230, 0.7);;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shop-form-images>label:hover>span {
    border-width: 3px;
    border-radius: inherit;
    height: 100%;
    width:100%;
    cursor: pointer;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* transition: all 1s; */
}

.shop-form-images .shop-card-img {
    position: absolute;
    left: 10px;
    top: 190px;
}

.shop-form-images>label>input {
    width: 200px;
}

.shop-form-images>.shop-profile-img>input {
    width: 100%;
    white-space: wrap;
    padding-left: 5px;
}

/************ BASIC INFO ************************/
.shop-basic-info-section {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px; */
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: space-between;
}

/* .shop-basic-info-section>*{
    border: red 1px solid;
} */

.shop-basic-info-section>label {
    margin-top: 8px;
    max-width: 175px;
}

.shop-basic-info-section>.shop-form-description {
    max-width: 350px;
}

.shop-form-services{
    /* border: red 1px solid; */
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    max-width: 175px;
}

.shop-form-services label {
    /* border: 1px red solid; */
    font-weight: normal;
}

.shop-basic-info-section textarea {
    max-width: 350px;
    height: 110px;
    /* border: red 1px solid; */
    padding: 0;
    border-radius: 3px;
}

#price-range-form-display {
    display: grid;
    grid-template-columns: 80px 1fr;
    column-gap: 10px;
}

/* .shop-form-address {
    border: 1px solid red;
} */

.shop-form-city-state {
    /* border: 1px dashed green; */
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

/************* HOURS ***************************/
.business-hours-form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.shop-form-hours .daily-business-hours {
    display: grid;
    grid-template-columns: 30px 35px 160px 160px;
    column-gap: 8px;
    align-items: center;
    font-weight: bold;
}

.daily-business-hours>label {
    font-weight: normal;
    margin: 5px 3px;
    color: var(--textColorLighter)
}

.daily-business-hours>label>input {
    width: 100%;
}

/************* CATEGORIES ***************************/

.choose-categories-form-section>h3 {
    margin-bottom: 15px;
}

#choose-categories-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px;
    /* border: 1px solid blue; */
}

#choose-categories-form>.choose-categories-input {
    /* border: 1px solid red; */
    width: 175px;
    display: grid;
    grid-template-columns: 30px 1fr;
    font-weight: bold;
    align-items: center;
}


.shop-submit-button {
    padding: 8px;
    margin: 10px auto;
    font-size: var(--h3Size);
    max-width: 300px;
}
