/* TODO Add site wide styles */
:root {
    --fontFamily: "Figtree", sans-serif ;
    --fontSize: 14px ;
    --h1Size: 24pt ;
    --h2Size: 20pt ;
    --h3Size: 16pt;
    --subheadingWeight: 550 ;

    --textColor: rgb(20,20,20);
    /* --textColorLighter: rgb(80,80,100); */
    --textColorLighter: rgb(100,100,150);

    /* --textColorVeryLight: rgb(100,100,150); */
    --highlightColor: rgb(80,30,255);
    --highlightColorLighter: rgb(120,100,255);
    --highlightColorDarker: rgb(50,30,200);
    --disabledColor: rgb(230,230,230);

    --errorColor: rgb(200,50,50);

    --backgroundColorLighter: rgb(255,255,255);
    --backgroundColor: rgb(250,250,255);
    --boxShadowColor: rgb(215,215,225);

    --footerColor: rgb(190,190,220);

    --modalBackgroundColor: rgba(20, 20, 40, 0.7);

    --cardBorder: 1px var(--highlightColor) solid;

    --buttonBorderRadius: 3em ;
    --imgBorderRadius: 14px ;
    --modalBorderRadius: 15px;
    --inputBorderRadius: 5px;
    --cardBorderRadius: 15px;
    --dropdownBorderRadius: 5px;

    --headerHeight: 65px;
    --mainPaddingY: 20px;
    --mainPaddingX: 25px;
    --modalPadding: 20px;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    box-sizing: border-box;
	margin: 0 ;
	padding: 0 ;
	border: 0 ;
	/* font-size: 100% ; */
	font: inherit ;
	vertical-align: baseline ;
    /* background-color: var(--backgroundColor); */
    color: var(--textColor);
    white-space: pre-line;
}

* {
    position: relative;
}

html, form {
    background-color: var(--backgroundColor);
}

input {
    box-sizing: border-box;
}

textarea {
    resize: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block ;
}
body {
	line-height: 1 ;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none ;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '' ;
	content: none ;
}
table {
	border-collapse: collapse ;
	border-spacing: 0 ;
}
/* end of Eric Meyer's reset */
html {
    height: 100vh;/* Overrides 100% height in modern HTML5 browsers and uses the viewport's height. Only works in modern HTML5 browsers */
}
body {
    height: auto; /* Allows content to grow beyond the page without overflow */
    min-height: 100vh;/* Starts web page with 100% height. Uses the viewport's height. Only works in modern HTML5 browsers */
    overflow-y: scroll;/* Optional: Adds an empty scrollbar to the right margin in case content grows vertically, creating a scrollbar.  Allows for better width calculations, as the browser pre-calculates width before scrollbar appears, avoiding page content shifting.*/
}
/* add progress cursor during db access */
body.waiting * {
    cursor: progress !important ;
}
i,button {
    cursor: pointer ;
}

body {
    box-sizing: border-box ;
    font-family: var(--fontFamily) ;
    font-size: var(--fontSize) ;
}
button { /* buttons sneakily ignore inheriting */
    font-family: var(--fontFamily) ;
    font-size: var(--fontSize) ;
    border: var(--buttonBorder);
    border-radius: var(--buttonBorderRadius);
    width: 100%;
    padding: 5px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    width: 100%;
}

h1 {
    font-size: var(--h1Size);
    font-weight: bold;
}

h2 {
    font-size: var(--h2Size);
    font-weight: bold;
}

h3 {
    font-size: var(--h3Size);
    font-weight: bold;
}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--highlightColor);
}

.active {
    font-weight: bold;
    color: var(--highlightColorDarker);
}

.hidden {
    display: none;
}

.error {
    color: var(--errorColor);
}

.purple {
    color: var(--highlightColor);
}

.purple:hover, .purple:hover *{
    color: var(--highlightColorDarker);
}

.purple-button, .purple-button * {
    color: var(--backgroundColorLighter);
    background-color: var(--highlightColor);
}

.purple-button:hover {
    background-color: var(--highlightColorDarker);
    font-weight: bold;
}

.light-button {
    background-color: transparent;
    border: 1px solid var(--boxShadowColor);
}

.light-button:hover, .light-button:hover * {
    font-weight: bold;
    border-color: var(--highlightColorLighter);
}

.business-hours-form {
    display: flex;
    flex-direction: column;
}

.main-container{
    margin-top: 50px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.light {
    color: var(--textColorLighter);
}

.thin-light-border {
    border-bottom: 1px solid var(--boxShadowColor);
}

.disabled {
    pointer-events: none;
}
