.nav-container {
  display: grid;
  grid-template-columns: 175px 175px 1fr 40px;
  align-items: center;
  border-bottom: 1px solid var(--boxShadowColor);
  background-color: var(--backgroundColorLighter);
  box-shadow: 0 0 8px var(--boxShadowColor);
  position: fixed;
  top: 0;
  width: 100%;
  /* height: fit-content; */
  height: 82px;
  padding: 20px;
  z-index: 5;
}

#crittr-logo * {
  color: var(--highlightColor);
  font-size: var(--h1Size);
  font-weight: bold;
  text-decoration: none;
}

.profile-dropdown {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: var(--backgroundColorLighter);
  padding: 8px;
  border: 1px var(--boxShadowColor) solid;
  box-shadow: 0 0 5px var(--boxShadowColor);
  border-radius: 7px;
  width: 180px;
  text-align: center;
}

.profile-dropdown>li {
  margin: 5px 0;
}

.profile-button {
  background-color: var(--backgroundColorLighter);
}

.dropdown-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.dropdown-links>a {
  border: var(--boxShadowColor) 1px solid;
  height: 60px;
  text-align: center;
  border-radius: 5px;
  color: var(--textColorLighter);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.dropdown-links>a:hover {
  border-color: var(--highlightColor);
  font-weight: bold;
}

.dropdown-links i {
  color: var(--textColorLighter);
  font-size: var(--h3Size);
}

.fa-user-circle {
  font-size: var(--h2Size);
}

.overflow-cutoff {
  display: inline-block;
  max-width: 135px;
  /* text-wrap: nowrap; */
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.location-update-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
