.shop-details-container {
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.shop-details-container h1,
.shop-details-container h2 {
    margin: 20px 0;
}

.shop-details-container h3 {
    margin: 10px 0;
}

.shop-profile-container {
    position: relative;
    z-index: 0;
}

.shop-cover-img {
    position: relative;
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto;
}

.shop-profile-img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    position: absolute;
    right: 30px;
    top: 220px;
    border-radius: 5px;
}

.shop-details-header {
    display: flex;
    flex-direction: row;
    position: relative;
    height: min-content;
    /* gap: 15px; */
    /* border: 1px solid red; */
}

/* .shop-details-about:hover .shop-owner-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 80px;
    position: relative;
    top: -25px;
    left: 30px;
} */

.shop-profile-container:hover .shop-details-header>.shop-owner-buttons {
    /* display: flex;
    flex-direction: column;
    gap: 5px;
    width: 80px; */
    display: grid;
    grid-template-columns: 80px 80px;
    column-gap: 5px;
    position: relative;
    top: -8px;
    left: 30px;
    height: 0;
}

.shop-profile-container:hover .shop-details-header>.shop-owner-buttons button {
    height: 30px;
}

.shop-profile-container:hover .shop-details-header>.shop-owner-buttons .delete-button {
    margin-top: 8px;
}

/* .shop-details-header>.shop-owner-buttons button {
    height: 20px;
    padding: 0;
} */
/* .shop-details-profile-info {
    border: 1px solid red;
} */

/*************** ABOUT ***********************/
.shop-details-about {
    display: grid;
    grid-template-areas:
    "header header"
    "about about"
    "connect hours";
    row-gap: 15px;
}

.shop-details-about-header {
    grid-area: header;
}

.shop-details-about-basics {
    grid-area: about;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.shop-details-about-address {
    line-height: 150%;
}

.shop-details-about-connect {
    grid-area: connect;
}

.shop-details-about-hours {
    grid-area: hours;
}

.shop-details-hours-header {
    font-size: var(--h3Size);
    font-weight: bold;
    text-align: left;
    padding: 5px 15px;
}

.shop-details-hours-table {
    /* margin-top: 15px; */
    /* border-collapse:collapse; */
    border: var(--disabledColor) 1px solid;
}

.shop-details-hours-table td {
    padding: 5px 15px;
    /* border: var(--cardBorder); */
}
