.shop-details-container {
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.shop-details-container h1,
.shop-details-container h2 {
    margin: 20px 0;
}


.shop-details-container h3 {
    margin: 10px 0;
}

.shop-profile-container {
    position: relative;
    z-index: -1;
}

.shop-cover-img {
    position: relative;
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto;
}

.shop-profile-img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    position: absolute;
    right: 30px;
    top: 220px;
    border-radius: 5px;
}

/*************** ABOUT ***********************/
.shop-details-about {
    display: grid;
    grid-template-areas:
    "header header"
    "about about"
    "connect hours";
    row-gap: 15px;
}

.shop-details-about-header {
    grid-area: header;
}

.shop-details-about-basics {
    grid-area: about;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.shop-details-about-address {
    line-height: 150%;
}

.shop-details-about-connect {
    grid-area: connect;
}

.shop-details-about-hours {
    grid-area: hours;
}

.shop-details-hours-header {
    font-size: var(--h3Size);
    font-weight: bold;
    text-align: left;
    padding: 5px 15px;
}

.shop-details-hours-table {
    /* margin-top: 15px; */
    /* border-collapse:collapse; */
    border: var(--disabledColor) 1px solid;
}

.shop-details-hours-table td {
    padding: 5px 15px;
    /* border: var(--cardBorder); */
}
