.address-form-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.address-form {
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    width: 400px;
}

.address-form>label {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
    font-weight: bold;
}

.address-form-button {
    margin-top: 10px;
    padding: 8px;
    /* background-color: red; */
}
