#user-profile-page-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: 20px 0;
}

.add-new-button {
    margin-top: 10px;
    color: var(--highlightColor);
    background-color: transparent;
    text-align: left;
    width: max-content;
}

.add-new-button:hover {
    color: var(--highlightColorDarker);
    font-weight: bold;
}

/************** SIDEBAR *************************/
#sidebar-container {
    position: fixed;
    bottom: 0;
    top: 80px;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--backgroundColorLighter);
    padding: 20px 10px;
    box-shadow: 0 0 5px var(--boxShadowColor);
    border: 1px solid var(--boxShadowColor);
    z-index: 1;
}

/************ MANAGE BALANCE PAGE *******************/
#cool-links-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#cool-links-container a {
    width: 100%;
    display: flex;
}

.add-money-button {
    font-size: medium;
    height: 60px;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 0;

    border: 1px solid var(--boxShadowColor);
    background-image: radial-gradient(circle at center, white, transparent 100%);

    animation: change-background 1.5s linear infinite;
}

@keyframes change-background {
    0% {
        background-color: rgb(255, 240, 200);
    }
    50% {
        background-color: rgb(255, 212, 41);
    }
    100% {
        background-color: rgb(255, 240, 200);
    }
}

.add-money-button:hover {
    border-color: var(--highlightColor);
    font-weight: bold;
}

.money-button-image {
    height: 58px;
    object-fit: cover;
    justify-self: end;
}

.amount-added {
    color: rgb(20,170,20);
    font-weight: bold;
    font-size: var(--h3Size);
}
