#location-form {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: transparent;
}

#location-form>label {
    display: flex;
    flex-direction: column;
}

#location-form>.city-state {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

#location-form>div>label>input {
    width: 100%;
}

#location-form * {
    box-sizing: border-box;
}

.address-checkbox-container {
    width: 100%;
    text-align: left;
}

.address-checkbox>input {
    height: 15px;
    width: 15px;
    border: red 1px solid;
    color: blue;
    background-color: green;
}

.address-checkbox {
    display: grid;
    grid-template-columns: fit-content(5%) fit-content(90%);
    column-gap: 15px;
}
