.shop-card-img {
    height: 100px;
    width: 250px;
    object-fit: cover;
}

.price-range-display {
    display: flex;
    flex-direction: row;
}

.price-range-display>button {
    width: 10px;
    background-color: transparent;
}
